@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin bp_tablet_up {
    @media (min-width: #{$breakpoint-tablet}) {
      @content;
    }
  }
  @mixin bp_md_up {
    @media (min-width: #{$breakpoint-md}) {
      @content;
    }
  }
  @mixin bp_lg_up {
    @media (min-width: #{$breakpoint-lg}) {
      @content;
    }
  }