//Colors
$color-primary: #98C6E9;
$color-light-accent: #d6ecfe;
$color-dark-shade: #0d1831;
$color-light-shade: #ffffff;

$color-error-label: #F44336;
$color-error-success: #4CAF50;

$color-light-grey: #ececec;
$color-dark-grey: #4e4e4e;

//Fonts
$font-heading: 'Righteous', cursive;
$font-text: 'Roboto', sans-serif;

//Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-md: 962px;
$breakpoint-lg: 1200px;