.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


.bck_{
    &blue { 
        background: $color-dark-shade; 
    }
    &lblue { 
        background: $color-primary; 
    }
}


.img_cover { background-size: cover !important; }